html,
body {
  height: 100%; /* Make sure both html and body take up the full height of the viewport */
  margin: 0;
  padding: 0;
}
* {
  font-family: "consolas", sans-serif;
}
body {
  font-family: Papyrus, fantasy;
  background-image: url("pictures/moon.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
}

.upper-container {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; /* Space between name and navigation */
  margin-left: 200px;
  margin-right: 200px;
  height: 100px;
  padding-left: 70px;
  padding-right: 60px;
  opacity: 0.9;
  backdrop-filter: blur(8px);
  box-shadow: 1px 3px 15px white;
  border-radius: 0px 0px 15px 15px;
}

.upper-container h2 {
  margin-bottom: 7px;
}

.upper-container .navigation ul {
  list-style: none;
  display: flex; /* Makes navigation items inline */
  margin: 0;
  padding: 0;
}

.upper-container .navigation ul li {
  margin: 0 15px; /* Adds space between navigation items */
  margin-bottom: 7px;
}

.upper-container .navigation ul li a {
  color: white; /* Makes link text white */
  text-decoration: none; /* Removes underline from links */
  transition-duration: 500ms;
}

.upper-container .navigation ul li a:hover {
  font-size: 20px;
}

.body-container {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-left: 600px;
  margin-right: 200px;
  height: 5000px;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(128, 128, 128, 0.041);
}

.body-container .sidebar-about {
  position: fixed;
  top: 190px;
  left: 210px;
}

.body-container .sidebar-about ul li a {
  list-style-type: none;
  text-decoration: none;
  font-family: "consolas", sans-serif;
  padding-bottom: 15px;
  font-size: 20px;
  color: inherit;
}

.body-container .sidebar-about ul li {
  list-style-type: none;
  text-decoration: none;
  font-family: "consolas", sans-serif;
  padding-bottom: 15px;
  font-size: 20px;
}

.body-container .sidebar-about h1 {
  position: sticky;
  font-family: "consolas", sans-serif;
  font-weight: bold;
  font-size: 68px;
  padding-right: 100px;
}

.body-container .about-logos {
  display: flex;
  gap: 55px;
  padding-top: 290px;
  transform: translateX(-87px);
}

.body-container .about-logos .facebook img {
  width: 20px;
  height: 20px;
}
.body-container .about-logos .github img {
  width: 30px;
  height: 30px;
}
.body-container .about-logos .linkedin img {
  width: 30px;
  height: 30px;
}
.body-container .about-logos .google img {
  width: 13px;
  padding-top: 10px;
  height: 13px;
}

.body-container .intro-container {
  display: flex;
  padding: 5px;
  margin: 5px;
}
.body-container .intro-container img {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 29%;
  left: 33%;
  border-radius: 1000px;
}

.body-container .intro-container #intro {
  position: relative;
  font-weight: bold;
  font-size: 25px;
  top: 1px;
  transform: translateX(-410px);
}

.body-container .intro-container .name {
  position: absolute;
  font-weight: lighter;
  font-size: 30px;
  top: 240px;
  left: 970px;
}

.body-container .intro-container .status {
  position: absolute;
  font-size: 15px;
  top: 290px;
  left: 975px;
}

.body-container .intro-container .bio {
  position: absolute;
  font-size: 15px;
  top: 350px;
  left: 975px;
  text-align: justify;
  width: 600px;
}

.body-container .intro-container .personal-details h3 {
  position: absolute;
  font-size: 30px;
  bottom: 130px;
  text-align: justify;
  width: 600px;
  padding-bottom: 50px;
}

.body-container .intro-container .personal-details {
  position: absolute;
  font-size: 15px;
  top: 80%;
  left: 34%;
  text-align: justify;
  width: 600px;
}

.body-container .intro-container .personal-details .personal-information {
  position: absolute;
  font-weight: 1;
  font-size: 15px;
  transform: translateY(-178px);
  left: 20%;
  text-align: justify;
  width: 600px;
  line-height: 18px;
}

.body-container .intro-container .interests {
  position: absolute;
  display: flex;
  height: 150px;
  width: 400px;
  top: 660px;
}

.body-container .intro-container .interests h3 {
  position: absolute;
  font-size: 30px;
  top: 1px;
  transform: translateX(95px);
  text-align: justify;
  width: 600px;
  padding-bottom: 20px;
}

.body-container .intro-container .interests .gaming {
  position: relative;
  display: flex;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 10px white;
  border-radius: 30px;
  transform: translateY(140px);
  left: 100px;
  justify-content: center;
  align-items: center;
}
.body-container .intro-container .interests .music {
  position: relative;
  width: 120px;
  display: flex;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 10px white;
  border-radius: 30px;
  transform: translateY(140px);
  left: 130px;
  justify-content: center;
  align-items: center;
}
.body-container .intro-container .interests .manga {
  position: relative;
  width: 120px;
  display: flex;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 10px white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  transform: translateY(140px);
  left: 160px;
}
.body-container .intro-container .interests .gaming img {
  position: relative;
  display: flex;
  width: 100px;
  height: 90px;
  top: 3px;
  left: 29px;
}
.body-container .intro-container .interests .music img {
  position: relative;
  width: 60px;
  display: flex;
  height: 60px;
  left: 31px;
  top: 3px;
}
.body-container .intro-container .interests .manga img {
  position: relative;
  width: 150px;
  display: flex;
  height: 150px;
  top: 3px;
  left: 22px;
}

.body-container .intro-container .interests .gaming p {
  position: relative;
  display: flex;
  width: 100px;
  height: 90px;
  top: 110px;
  transform: translateX(-50px);
}
.body-container .intro-container .interests .music p {
  position: relative;
  width: 60px;
  display: flex;
  height: 60px;
  top: 95px;
  transform: translateX(-20px);
}
.body-container .intro-container .interests .manga p {
  position: relative;
  width: 150px;
  display: flex;
  height: 150px;
  top: 140px;
  transform: translateX(-75px);
}

/*skills*/

.skills-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 1000px;
  width: 1010px;
  height: 650px;
}

.skills-container #skills {
  position: relative;
  display: flex;
  margin-top: 0px;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px; /* Space below the title */
}

.skills-container .programming {
  position: relative;
  display: flex;
  background-color: rgba(255, 255, 255, 0.051);
  border-radius: 15px;
  top: 50px;
  left: -80px;
  width: 510px;
  height: 550px;
}
.skills-container .programming h3 {
  text-align: center;
  text-align-last: center;
  font-size: 30px;
  position: relative;
  display: flex;
  top: 30px;
}

.skills-container .programming .proginfo {
  position: absolute;
  display: flex;
  top: 180px;
  left: 30px;
  text-align: justify;
  height: 300px;
  width: 400px;
  font-size: 16px;
}

.skills-container .programming .tools {
  position: absolute;
  display: flex;
  top: 370px;
  left: 195px;
  font-weight: bold;
  font-size: 25px;
}

.skills-container .programming ul {
  position: absolute;
  display: flex;
  list-style-type: none;
  gap: 15px;
  top: 430px;
  left: 9px;
}

.skills-container .programming .python img {
  width: 50px;
  height: 50px;
}
.skills-container .programming .html img {
  width: 50px;
  height: 50px;
}
.skills-container .programming .css img {
  width: 50px;
  height: 50px;
}
.skills-container .programming .java img {
  width: 50px;
  height: 50px;
}
.skills-container .programming .csharp img {
  width: 50px;
  height: 50px;
}
.skills-container .programming .cplus img {
  width: 50px;
  height: 50px;
}

.skills-container .graphic h3 {
  text-align: center;
  text-align-last: center;
  font-size: 30px;
  position: relative;
  display: flex;
  top: 35px;
}

.skills-container .graphic .graphinfo {
  position: absolute;
  display: flex;
  top: 180px;
  left: 30px;
  text-align: justify;
  font-size: 15px;
  height: 300px;
  width: 400px;
}

.skills-container .graphic .tools {
  position: absolute;
  display: flex;
  top: 370px;
  left: 195px;
  font-weight: bold;
  font-size: 25px;
}

.skills-container .graphic ul {
  position: absolute;
  display: flex;
  list-style-type: none;
  gap: 15px;
  top: 430px;
  left: 100px;
}

.skills-container .graphic .photoshop img {
  width: 50px;
  height: 50px;
}
.skills-container .graphic .canva img {
  width: 50px;
  height: 50px;
}
.skills-container .graphic .picsart img {
  width: 50px;
  height: 50px;
}

.skills-container .graphic {
  position: relative;
  display: flex;
  background-color: rgba(255, 255, 255, 0.051);
  border-radius: 15px;
  top: 50px;
  width: 510px;
  height: 550px;
  right: 40px;
}
