@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html,
body {
  height: 100%; /* Make sure both html and body take up the full height of the viewport */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}
* {
  font-family: "Roboto Mono";
}
body {
  background-image: url("pictures/moon.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
}

.upper-container {
  position: fixed;
  width: 1400px;
  top: 0;
  z-index: 999;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; /* Space between name and navigation */
  margin-left: 200px;
  margin-right: 200px;
  height: 100px;
  padding-left: 70px;
  padding-right: 60px;
  opacity: 0.9;
  backdrop-filter: blur(8px);
  box-shadow: 1px 3px 15px white;
  border-radius: 0px 0px 15px 15px;
}

.upper-container h2 {
  margin-bottom: 7px;
}

.upper-container .navigation ul {
  list-style: none;
  display: flex; /* Makes navigation items inline */
  margin: 0;
  padding: 0;
}

.upper-container .navigation ul li {
  margin: 0 15px; /* Adds space between navigation items */
  margin-bottom: 7px;
}

.upper-container .navigation ul li a {
  color: rgb(95, 95, 95); /* Makes link text white */
  text-decoration: none; /* Removes underline from links */
  transition: color 0.1s;
}

.upper-container .navigation ul li a.active {
  color: white;
}

.body-container {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-left: 600px;
  margin-right: 200px;
  height: 3050px;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(128, 128, 128, 0.041);
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
  }
} 
@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.7;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.body-container .sidebar-about {
  position: fixed;
  top: 190px;
  left: 210px;
  animation: fadeInLeft 2s ease-out;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
  }
}

.body-container .sidebar-about ul li a {
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 15px;
  font-size: 20px;
  color: inherit;
  animation: fadeInLeft 2s ease-out forwards;
  animation-delay: 0.7s;
  opacity: 0;
  transition: font-size 0.5s;
}

.body-container .sidebar-about ul li a:hover {
  font-size: 23px;
}

.body-container .sidebar-about ul li {
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 15px;
  font-size: 20px;
}

.body-container .sidebar-about h1 {
  position: sticky;
  color: rgb(189, 189, 0);
  font-weight: bold;
  font-size: 68px;
  padding-right: 100px;
  animation: fadeInLeft 0.1s ease;
}

.body-container .about-logos {
  display: flex;
  gap: 55px;
  padding-top: 290px;
  transform: translateX(-87px);
  animation: fadeInLeft 2s ease-out forwards;
  animation-delay: 0.7s;
  opacity: 0;
}

.body-container .about-logos .facebook img {
  width: 20px;
  height: 20px;
  transition: width 0.5s, height 0.5s;
}
.body-container .about-logos .facebook img:hover {
  width: 30px;
  height: 30px;
}

.body-container .about-logos .github img {
  width: 30px;
  height: 30px;
  transition: width 0.5s, height 0.5s;
}
.body-container .about-logos .github img:hover {
  width: 40px;
  height: 40px;
}

.body-container .about-logos .linkedin img {
  width: 30px;
  height: 30px;
  transition: width 0.5s, height 0.5s;
}
.body-container .about-logos .linkedin img:hover {
  width: 40px;
  height: 40px;
}

.body-container .about-logos .google img {
  width: 13px;
  padding-top: 10px;
  height: 13px;
  transition: width 0.5s, height 0.5s;
}
.body-container .about-logos .google img:hover {
  width: 23px;
  height: 23px;
}

.body-container .intro-container {
  display: flex;
  padding: 5px;
  margin: 5px;
}
.body-container .intro-container .profile {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 23%;
  left: 33%;
  border-radius: 1000px;
  border: rgb(255, 255, 255) 3px solid;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
  background-image: url("pictures/githubpic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 1.5s, box-shadow 0.5s;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
}

.body-container .intro-container .profile:hover {
  background-image: url("pictures/GuweiGif.gif");
  box-shadow: 0 0 0 3px rgb(255, 255, 255);
}

.body-container .intro-container #intro {
  position: relative;
  font-weight: bold;
  font-size: 25px;
  top: 1px;
  left: -420px;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.body-container .intro-container .name {
  position: absolute;
  font-weight: bolder;
  font-size: 30px;
  top: 240px;
  left: 970px;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
  color: rgb(189, 189, 0);
}

.body-container .intro-container .status {
  position: absolute;
  font-size: 15px;
  top: 290px;
  left: 975px;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.body-container .intro-container .bio {
  position: absolute;
  font-size: 15px;
  top: 350px;
  left: 975px;
  text-align: justify;
  width: 600px;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.body-container .intro-container .personal-details h3 {
  position: absolute;
  font-size: 30px;
  bottom: 130px;
  text-align: justify;
  width: 600px;
  padding-bottom: 50px;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 0.1s;
  opacity: 0;
  color: rgb(189, 189, 0);
}

.body-container .intro-container .personal-details {
  position: absolute;
  font-size: 15px;
  top: 80%;
  left: 34%;
  text-align: justify;
  width: 600px;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.body-container .intro-container .personal-details .personal-information {
  position: absolute;
  font-weight: 1;
  font-size: 15px;
  bottom: -1px;
  left: 20%;
  text-align: justify;
  width: 600px;
  line-height: 18px;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.body-container .intro-container .interests {
  position: absolute;
  display: flex;
  height: 150px;
  width: 400px;
  top: 660px;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.body-container .intro-container .interests h3 {
  position: absolute;
  color: rgb(189, 189, 0);
  font-size: 30px;
  top: 1px;
  left: 100px;
  text-align: justify;
  width: 600px;
  padding-bottom: 20px;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

.body-container .intro-container .interests .gaming {
  position: relative;
  display: flex;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 10px white;
  border-radius: 30px;
  transform: translateY(140px);
  left: 100px;
  justify-content: center;
  align-items: center;
  transition: width 0.5s, height 0.5s;
}
.body-container .intro-container .interests .gaming:hover {
  width: 130px;
  height: 130px;
}
.body-container .intro-container .interests .music {
  position: relative;
  width: 120px;
  display: flex;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 10px white;
  border-radius: 30px;
  transform: translateY(140px);
  left: 130px;
  justify-content: center;
  align-items: center;
  transition: width 0.5s, height 0.5s;
}
.body-container .intro-container .interests .music:hover {
  width: 130px;
  height: 130px;
}
.body-container .intro-container .interests .manga {
  position: relative;
  width: 120px;
  display: flex;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 10px white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  transform: translateY(140px);
  left: 160px;
  transition: width 0.5s, height 0.5s;
}
.body-container .intro-container .interests .manga:hover {
  width: 130px;
  height: 130px;
}
.body-container .intro-container .interests .gaming img {
  position: relative;
  display: flex;
  width: 100px;
  height: 90px;
  top: 3px;
  left: 29px;
}
.body-container .intro-container .interests .music img {
  position: relative;
  width: 60px;
  display: flex;
  height: 60px;
  left: 31px;
  top: 3px;
}
.body-container .intro-container .interests .manga img {
  position: relative;
  width: 150px;
  display: flex;
  height: 150px;
  top: 3px;
  left: 22px;
}

.body-container .intro-container .interests .gaming p {
  position: relative;
  display: flex;
  width: 100px;
  height: 90px;
  top: 110px;
  transform: translateX(-50px);
}
.body-container .intro-container .interests .music p {
  position: relative;
  width: 60px;
  display: flex;
  height: 60px;
  top: 95px;
  transform: translateX(-20px);
}
.body-container .intro-container .interests .manga p {
  position: relative;
  width: 150px;
  display: flex;
  height: 150px;
  top: 140px;
  transform: translateX(-75px);
}

/*skills*/

.skills-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 1000px;
  width: 1010px;
  height: 650px;
  animation: slideUp 1.8s ease;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}

.skills-container #skills {
  position: relative;
  display: flex;
  margin-top: 0px;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.skills-container .programming {
  position: relative;
  display: flex;
  background-color: rgba(255, 255, 255, 0.051);
  border-radius: 15px;
  top: 50px;
  left: -80px;
  width: 510px;
  height: 550px;
  transition: width 0.5s, height 0.5s, border 0.4s;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
.skills-container .programming:hover {
  width: 515px;
  height: 555px;
  border: rgb(107, 107, 107) 1px solid;
}
.skills-container .programming h3 {
  text-align: center;
  text-align-last: center;
  font-size: 30px;
  position: relative;
  display: flex;
  top: 30px;
  color: rgb(189, 189, 0);
}

.skills-container .programming .proginfo {
  position: absolute;
  display: flex;
  top: 180px;
  left: 30px;
  text-align: justify;
  height: 300px;
  width: 400px;
  font-size: 16px;
}

.skills-container .programming .tools {
  position: absolute;
  display: flex;
  top: 370px;
  left: 195px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(189, 189, 0);
}

.skills-container .programming ul {
  position: absolute;
  display: flex;
  list-style-type: none;
  gap: 15px;
  top: 430px;
  left: 9px;
}

.skills-container .programming .python img {
  width: 50px;
  height: 50px;
}
.skills-container .programming .html img {
  width: 50px;
  height: 50px;
}
.skills-container .programming .css img {
  width: 50px;
  height: 50px;
}
.skills-container .programming .java img {
  width: 50px;
  height: 50px;
}
.skills-container .programming .csharp img {
  width: 50px;
  height: 50px;
}
.skills-container .programming .cplus img {
  width: 50px;
  height: 50px;
}

.skills-container .graphic h3 {
  text-align: center;
  text-align-last: center;
  font-size: 30px;
  position: relative;
  display: flex;
  top: 35px;
  color: rgb(189, 189, 0);
}

.skills-container .graphic .graphinfo {
  position: absolute;
  display: flex;
  top: 180px;
  left: 35px;
  text-align: justify;
  font-size: 15px;
  height: 300px;
  width: 400px;
}

.skills-container .graphic .tools {
  position: absolute;
  display: flex;
  top: 370px;
  left: 195px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(189, 189, 0);
}

.skills-container .graphic ul {
  position: absolute;
  display: flex;
  list-style-type: none;
  gap: 15px;
  top: 430px;
  left: 100px;
}

.skills-container .graphic .photoshop img {
  width: 50px;
  height: 50px;
}
.skills-container .graphic .canva img {
  width: 50px;
  height: 50px;
}
.skills-container .graphic .picsart img {
  width: 50px;
  height: 50px;
}

.skills-container .graphic {
  position: relative;
  display: flex;
  background-color: rgba(255, 255, 255, 0.051);
  border-radius: 15px;
  top: 50px;
  width: 540px;
  height: 550px;
  right: 40px;
  transition: width 0.5s, height 0.5s, border 0.4s;
  animation: slideUp 1.8s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
.skills-container .graphic:hover {
  width: 550px;
  height: 560px;
  border: rgb(107, 107, 107) 1px solid;
}

/*education*/
.educ-container .title {
  position: relative;
  display: flex;
  font-weight: bold;
  top: bottom: 200px;
  font-size: 25px;
  margin-bottom: 50px;
  left: 48px;
}

.educ-container {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 1100px;
  top: 1660px;
  position: absolute;
  animation: slideUp 1.8s ease;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}

.educ-container .schools .elementary {
  position: relative;
  padding-bottom: 15px;
  left: 40px;
  transition: left 0.5s;
}
.educ-container .schools .elementary:hover {
  left: 60px;
}
.elementary img {
  width: 300px;
  height: 300px;
  position: relative;
  right: 10px;
}
.elementary .spes-background {
  position: relative;
  width: 700px;     
  display:inline-block;
  text-align: justify;
  font-size: 15px;
  bottom: 40px;
}
.elementary .sub-header {
  position: relative;
  font-weight: 600;
  font-size: 19px;
  color: rgb(189, 189, 0);
  bottom: 15px;
}
.elementary .school-info {
  font-weight: lighter;
}
.elementary .school-address {
  position: relative;
  opacity: 0.5;
  bottom: 30px;
  color: rgb(189, 189, 0);
}
.educ-container .schools .tertiary {
  position: relative;
  padding-bottom: 15px;
  left: 40px;
  transition: left 0.5s;
}
.educ-container .schools .tertiary:hover {
  left: 60px;
}
.tertiary .ga-background {
  position: relative;
  width: 700px;     
  display:inline-block;
  text-align: justify;
  font-size: 15px;
  bottom: 40px;
  transition: left 0.5s, background-color 0.5s;
}
.tertiary img {
  width: 300px;
  height: 300px;
  position: relative;
  right: 10px;
}
.tertiary .sub-header {
  position: relative;
  font-weight: 600;
  font-size: 19px;
  bottom: 15px;
  color: rgb(189, 189, 0);
}
.tertiary .school-address {
  position: relative;
  opacity: 0.5;
  bottom: 30px;
  color: rgb(189, 189, 0);
}
.educ-container .schools .secondary {
  position: relative;
  padding-bottom: 15px;
  left: 40px;
  transition: left 0.5s;
}
.educ-container .schools .secondary:hover {
  left: 60px;
}
.secondary img {
  width: 370px;
  height: 370px;
  position: relative;
  right: 50px;
  bottom: 30px;
}
.secondary .gshs-background {
  position: absolute;
  width: 700px;     
  display:inline-block;
  text-align: justify;
  font-size: 15px;
  bottom: 85px;
  right: 90px;
}
.secondary .sub-header {
  position: relative;
  font-weight: 600;
  font-size: 19px;
  bottom: 15px;
  color: rgb(189, 189, 0);
}
.secondary .school-address {
  position: relative;
  opacity: 0.5;
  bottom: 30px;
  color: rgb(189, 189, 0);
}
.educ-container .schools .college {
  position: relative;
  padding-bottom: 15px;
  left: 40px;
  transition: left 0.5s;
}
.educ-container .schools .college:hover {
  left: 60px;
}
.college img {
  width: 300px;
  height: 300px;
  position: relative;
  right: 10px;
  bottom: 30px;
}
.college .adu-background {
  position: relative;
  width: 700px;     
  display:inline-block;
  text-align: justify;
  font-size: 15px;
  bottom: 48px;
}
.college .sub-header {
  position: relative;
  font-weight: 600;
  font-size: 19px;
  bottom: 15px;
  color: rgb(189, 189, 0);
}
.college .school-address {
  position: relative;
  opacity: 0.5;
  bottom: 30px;
  color: rgb(189, 189, 0);
}
