@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}
* {
  font-family: "Roboto Mono";
}
body {
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.upper-container {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 100px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.685);
}

.upper-container .nav-links {
  display: flex;
}
.upper-container h2 {
  position: relative;
  display: flex;
  top: 30px;
  margin-bottom: 7px;
  left: 310px;
  font-weight: bolder;
  font-size: 25px;
}

.upper-container .navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.upper-container .navigation ul li {
  margin: 0 15px;
  margin-bottom: 7px;
}

.upper-container .navigation .nav-links li a {
  color: rgb(133, 133, 133);
  text-decoration: none;
  transition: color 0.1s;
  position: relative;
  top: 60px;
  right: 310px;
  font-weight: 600;
}
.upper-container .navigation ul li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: white;
  transition: width 0.4s ease;
}
.upper-container .navigation ul li a:hover:before {
  width: 100%;
}
.upper-container .navigation ul li a.active {
  color: white;
}

.body-container {
  display: flex;
  position: relative;
  margin: 130px 150px 140px 150px;
  justify-content: center;
  align-items: center;
}
.body-container .title {
  position: absolute;
  top: -20px;
  font-size: 60px;
  font-weight: bolder;
  animation: fadeDown 1.5s ease forwards;
}
.sub-header {
  position: absolute;
  top: 100px;
  opacity: 0.8;
  font-weight: 400;
  font-size: 15px;
  color: rgb(189, 189, 0);
  animation: fadeDown 1.5s ease forwards;
}
.body-container .logos {
  display: flex;
  position: absolute;
  top: 190px;
  width: 500px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin: auto;
  animation: fadeDown 1.5s ease forwards;
}

.body-container .logos ul li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin: 0 20px;
  left: -15px;
}
.body-container .logos ul li img {
  width: 30px;
  height: 30px;
}
.body-container .logos .facebook img {
  transform: translateY(-12px);
  width: 25px;
  height: 25px;
}
.body-container .logos .github img {
  transform: translateY(-4px);
  width: 39px;
  height: 39px;
}
.body-container .logos .linkedin img {
  transform: translateY(-3px);
  width: 39px;
  height: 39px;
}
.body-container .logos .google img {
  transform: translateY(-12px);
  width: 16px;
  height: 16px;
}
.body-container .logos .discord img {
  transform: translateY(6px);
  width: 50px;
  height: 50px;
}
.body-container .login {
  top: 270px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 20px;
  animation: fadeUp 1.5s ease-out forwards;
  animation-delay: 1s;
  opacity: 0;
}
.body-container .login input {
  color: white;
  border-radius: 9px;
  vertical-align: top;
  text-align: left;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.685);
  border: 1.5px solid rgb(255, 255, 255);
  padding: 10px;
}
.body-container .login input::placeholder {
  color: white;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
}
.body-container .login input:focus::placeholder {
  color: transparent; /* Makes the placeholder text invisible when input is focused */
}
.body-container .login .message {
  border-radius: 9px;
  height: 160px;
}
.body-container .login .message::placeholder {
  transform: translateY(-60px);
}
.body-container .login button {
  display: flex;
  position: relative;
  transform: translateY(60px);
  width: 150px;
  height: 60px;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 9px;
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
  border: 1.5px solid rgb(255, 255, 255);
  transition: background-color 0.3s, color 0.3s, scale 0.1s;
  font-weight: 500;
  font-size: 14px;
  scale: auto;
}
.body-container .login button:hover {
  background-color: white;
  color: black;
  scale: 0.99;
}
