html,
body {
  height: 100%; /* Make sure both html and body take up the full height of the viewport */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
* {
  font-family: "Roboto Mono", monospace;
}
body {
  background-image: url("pictures/moon.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
}
.upper-container {
  position: fixed;
  width: 1400px;
  top: 0;
  z-index: 999;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; /* Space between name and navigation */
  margin-left: 200px;
  margin-right: 200px;
  height: 100px;
  padding-left: 70px;
  padding-right: 60px;
  opacity: 0.9;
  backdrop-filter: blur(8px);
  box-shadow: 1px 3px 15px white;
  border-radius: 0px 0px 15px 15px;
}

.upper-container h2 {
  margin-bottom: 7px;
}

.upper-container .navigation ul {
  list-style: none;
  display: flex; /* Makes navigation items inline */
  margin: 0;
  padding: 0;
}

.upper-container .navigation ul li {
  margin: 0 15px; /* Adds space between navigation items */
  margin-bottom: 7px;
}

.upper-container .navigation ul li a {
  color: rgb(95, 95, 95); /* Makes link text white */
  text-decoration: none; /* Removes underline from links */
  transition: color 0.1s;
}

.upper-container .navigation ul li a.active {
  color: white;
}

.body-container {
  display: flex;
  position: relative;
  left: 300px;
  top: 150px;
  width: 79.5%;
  height: 830px;
}

.body-container .title-container {
  display: flex;
  position: relative;
}

.body-container .title-container h1 {
  display: flex;
  position: relative;
  font-size: 50px;
  font-weight: 700;
}
.body-container .title-container p {
  display: flex;
  position: relative;
  font-size: 17px;
  color: rgb(184, 184, 0);
  top: 75px;
  right: 217px;
  opacity: 0.8;
}
