@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html,
body {
  height: 100%; /* Make sure both html and body take up the full height of the viewport */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}
* {
  font-family: "Roboto Mono";
}
body {
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
}

.upper-container {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 100px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.685);
}

.upper-container .nav-links {
  display: flex;
}
.upper-container h2 {
  position: relative;
  display: flex;
  top: 30px;
  margin-bottom: 7px;
  left: 310px;
  font-weight: bolder;
  font-size: 25px;
}

.upper-container .navigation ul {
  list-style: none;
  display: flex; /* Makes navigation items inline */
  margin: 0;
  padding: 0;
}

.upper-container .navigation ul li {
  margin: 0 15px; /* Adds space between navigation items */
  margin-bottom: 7px;
}

.upper-container .navigation .nav-links li a {
  color: rgb(133, 133, 133); /* Makes link text white */
  text-decoration: none; /* Removes underline from links */
  transition: color 0.1s;
  position: relative;
  top: 60px;
  right: 310px;
  font-weight: 600;
}
.upper-container .navigation ul li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: white;
  transition: width 0.4s ease;
}
.upper-container .navigation ul li a:hover:before {
  width: 100%;
}
.upper-container .navigation ul li a.active {
  color: white;
}
.body-container {
  display: flex;
  position: relative;
  left: 300px;
  top: 150px;
  width: 79.5%;
  height: 830px;
}

.body-container .title-container {
  display: flex;
  position: relative;
  width: 1700px;
  margin-left: -100px;
  margin-right: -100px;
}

.body-container .title-container h1 {
  display: flex;
  position: relative;
  font-size: 50px;
  font-weight: 700;
}
.body-container .title-container p {
  display: flex;
  position: relative;
  font-size: 17px;
  color: rgb(184, 184, 0);
  top: 86px;
  right: 237px;
  opacity: 0.8;
}
.body-container .highlighted-project {
  display: flex;
  position: absolute;
  right: 100px;
  top: 140px;
  background-color: rgba(175, 175, 175, 0.068);
  width: 1510px;
  height: 350px;
  border-radius: 20px;
  transition: top 0.4s;
}
.body-container .highlighted-project:hover {
  top: 130px;
}
.body-container .highlighted-project .info-container {
  display: flex;
  position: absolute;
  left: 445px;
  width: 1065px;
  height: 350px;
}
.body-container .highlighted-project .info-container h2 {
  display: flex;
  position: absolute;
  font-size: 30px;
  margin-right: 60px;
  margin-left: 60px;
  font-weight: 500;
  letter-spacing: -1.5px;
  top: -7px;
}
.body-container .highlighted-project .info-container .genre {
  display: flex;
  position: absolute;
  top: 45px;
  margin-right: 60px;
  margin-left: 60px;
  color: rgb(184, 184, 0);
  font-size: 14px;
}
.body-container .highlighted-project .info-container .description {
  display: flex;
  position: absolute;
  top: 90px;
  text-align: justify;
  margin-right: 60px;
  margin-left: 60px;
  font-size: 14px;
}
.body-container .highlighted-project .info-container button {
  display: flex;
  position: absolute;
  top: 280px;
  left: 75px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border-color: white;
  border-width: 2px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.123);
  color: white;
  transition: background-color 0.7s, color 0.7s;
}
.body-container .highlighted-project .info-container button::after {
  content: "View Project"; /* Default text */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit; /* Inherit button text color */
  background-color: transparent;
  transition: content 1s, background-color 0s, color 0s;
  border-radius: 10px;
}

.body-container .highlighted-project .info-container button:hover::after {
  background-color: white;
  color: black;
  content: "Under Development :)";
}
.body-container .highlighted-project .project-showcase {
  background-image: url("pictures/ReincarnasiaShowcase.gif");
  background-size: 480px 350px;
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
  left: -445px;
  top: 0;
  width: 480px;
  border-radius: 20px;
  height: 350px;
}
.body-container .other-projects {
  display: flex;
  position: absolute;
  top: 520px;
  justify-content: left;
  align-items: center;
  list-style-type: none;
  left: -95px;
}
.body-container .other-projects .title {
  display: flex;
  position: relative;
  font-weight: 500;
}
.body-container .other-projects .splitter {
  display: flex;
  position: absolute;
  left: 150px;
  font-weight: 300;
}
.body-container .other-projects ul li {
  display: inline-block;
  position: relative;
  list-style-type: none;
  justify-content: space-between;
  padding: 9px;
  font-weight: 400;
  cursor: pointer;
}
