html,
body {
  height: 100%; /* Make sure both html and body take up the full height of the viewport */
  margin: 0;
  padding: 0;
}
*{
  font-family: "consolas", sans-serif;
}
body {
  font-family: Papyrus, fantasy;
  background-image: url("pictures/moon.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
}

.upper-container {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; /* Space between name and navigation */
  margin-left: 200px;
  margin-right: 200px;
  height: 100px;
  padding-left: 70px;
  padding-right: 60px;
  opacity: 0.9;
  backdrop-filter: blur(8px);
  box-shadow: 1px 3px 15px white;
  border-radius: 0px 0px 15px 15px;
}

.upper-container h2 {
  margin-bottom: 7px;
}

.upper-container .navigation ul {
  list-style: none;
  display: flex; /* Makes navigation items inline */
  margin: 0;
  padding: 0;
}

.upper-container .navigation ul li {
  margin: 0 15px; /* Adds space between navigation items */
  margin-bottom: 7px;
}

.upper-container .navigation ul li a {
  color: white; /* Makes link text white */
  text-decoration: none; /* Removes underline from links */
  transition-duration: 500ms;
}

.upper-container .navigation ul li a:hover {
  font-size: 20px;
}

.body-container {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-left: 600px;
  margin-right: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 10px white;
  height: 5000px;
  border-radius: 15px 15px 15px 15px;
}

.body-container .sidebar-about {
  position: fixed;
  top: 190px;
  left: 210px;
}

.body-container .sidebar-about ul li a{
  list-style-type: none;
  text-decoration: none;
  font-family: "consolas", sans-serif;
  padding-bottom: 15px;
  font-size: 20px;
  color: inherit;
}

.body-container .sidebar-about ul li{
  list-style-type: none;
  text-decoration: none;
  font-family: "consolas", sans-serif;
  padding-bottom: 15px;
  font-size: 20px;
}

.body-container .sidebar-about h1 {
  position: sticky;
  font-family: "consolas", sans-serif;
  font-weight: bold;
  font-size: 68px;
  padding-right: 100px;
}

.body-container .about-logos {
  display: flex;
  gap: 55px;
  padding-top: 290px;
  transform: translateX(-87px); 
}

.body-container .about-logos .facebook img{
  width: 20px; 
  height: 20px;
}
.body-container .about-logos .github img{
  width: 30px;
  height: 30px;
}
.body-container .about-logos .linkedin img{
  width: 30px; 
  height: 30px;
}
.body-container .about-logos .google img{
  width: 13px; 
  padding-top: 10px;
  height: 13px;
}
.body-container .intro-container {
  display: flex;
  padding: 5px;
  margin: 5px
}
.body-container .intro-container img{
  height: 300px;
  width: 300px;
  position: absolute;
  top: 29%;
  left: 33%;
  border-radius: 20px;
}

.body-container .intro-container #intro {
  position: relative;
  font-weight: bold;
  font-size: 25px;
  top: 1px;
  transform: translateX(-410px);
}

.body-container .intro-container .name {
  position: absolute;
  font-weight:lighter;
  font-size: 30px;
  top: 240px;
  left: 970px;
}

.body-container .intro-container .status {
  position: absolute;
  font-size: 15px;
  top: 290px;
  left: 975px;
}

.body-container .intro-container .bio {
  position: absolute;
  font-size: 15px;
  top: 350px;
  left: 975px;
  text-align: justify;
  width: 600px;
}

.body-container .intro-container .personal-details {
  position: absolute;
  font-size: 15px;
  top: 68%;
  left: 34%;
  text-align: justify;
  width: 600px;
}

.body-container .intro-container .interests {
  position: absolute;
  display: flex;
  height: 150px;
  width: 400px;
  top: 660px;

}


.body-container .intro-container .interests .gaming {
  position: relative;
  display: flex;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 10px white;
  border-radius: 30px;
  transform: translateY(14px);
  left: 10px;
  justify-content: center;
  align-items: center;
}
.body-container .intro-container .interests .music {
  position: relative;
  width: 120px;
  display: flex;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 10px white;
  border-radius: 30px;
  transform: translateY(14px);
  left: 20px;
  justify-content: center;
  align-items: center;
}
.body-container .intro-container .interests .manga {
  position: relative;
  width: 120px;
  display: flex;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 10px white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  transform: translateY(14px);
  left: 30px;
}
.body-container .intro-container .interests .gaming img{
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 10px white;
  border-radius: 30px;
  transform: translateY(14px);
  left: 10px;
  justify-content: center;
  align-items: center;
}
.body-container .intro-container .interests .music img{
  position: relative;
  width: 60px;
  display: flex;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 10px white;
  border-radius: 30px;
  transform: translateY(14px);
  left: 20px;
  justify-content: center;
  align-items: center;
}
.body-container .intro-container .interests .manga img{
  position: relative;
  width: 60px;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  transform: translateY(14px);
  left: 30px;
}