@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html,
body {
  height: 100%; /* Make sure both html and body take up the full height of the viewport */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}
* {
  font-family: "Roboto Mono";
}
body {
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
}

.upper-container {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 100px;
  justify-content: space-between;
}

.upper-container .nav-links {
  display: flex;
}
.upper-container h2 {
  position: relative;
  display: flex;
  top: 30px;
  margin-bottom: 7px;
  left: 310px;
  font-weight: bolder;
  font-size: 25px;
}

.upper-container .navigation ul {
  list-style: none;
  display: flex; /* Makes navigation items inline */
  margin: 0;
  padding: 0;
}

.upper-container .navigation ul li {
  margin: 0 15px; /* Adds space between navigation items */
  margin-bottom: 7px;
}

.upper-container .navigation .nav-links li a {
  color: rgb(133, 133, 133); /* Makes link text white */
  text-decoration: none; /* Removes underline from links */
  transition: color 0.1s;
  position: relative;
  top: 60px;
  right: 310px;
  font-weight: 600;
}
.upper-container .navigation ul li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: white;
  transition: width 0.4s ease;
}
.upper-container .navigation ul li a:hover:before {
  width: 100%;
}
.upper-container .navigation ul li a.active {
  color: white;
}

.body-container {
  display: flex;
  position: relative;
  left: 300px;
  top: 110px;
  width: 79.5%;
}
@keyframes slideLeft {
  0% {
    opacity: 0.1;
    transform: translateX(-130px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0.1;
    transform: translateX(280px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0.1;
    transform: translateY(130px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes usernameY {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.body-container .username {
  display: flex;
  position: absolute;
  top: 150px;
  letter-spacing: 1px;
  font-size: 50px;
  font-weight: 500;
  color: rgba(255, 255, 0, 0.808);
  animation: usernameY 2s ease-out;
}
.body-container .username span {
  color: rgb(255, 255, 255);
}
.body-container .name {
  display: flex;
  position: absolute;
  top: 230px;
  left: 5px;
  letter-spacing: 1px;
  opacity: 0;
  color: yellow;
  animation: slideLeft 2s ease forwards;
  animation-delay: 0.7s;
}
.body-container .position {
  display: flex;
  position: absolute;
  top: 200px;
  width: 5000px;
  font-size: 100px;
  opacity: 0;
  font-weight: 500;
  color: rgb(216, 216, 216);
  animation: slideLeft 2s ease forwards, shimmer 2s infinite linear;
  animation-delay: 0.7s;
}
@keyframes shimmer {
  0% {
    color: rgb(216, 216, 216);
  }
  50% {
    color: white;
  }
  100% {
    color: rgb(216, 216, 216);
  }
}

.body-container .position span {
  position: relative;
  top: 110px;
  width: 1000px;
  right: 545px;
  font-size: inherit;
  opacity: 0;
  font-weight: inherit;
  color: rgba(255, 255, 0, 0.808);
  animation: slideRight 2s ease forwards, shimmerYellow 2s infinite linear;
  animation-delay: 0.6s;
}
@keyframes shimmerYellow {
  0% {
    color: rgba(255, 255, 0, 0.808);
  }
  50% {
    color: rgba(255, 255, 90, 0.808);
  }
  100% {
    color: rgba(255, 255, 0, 0.808);
  }
}
.body-container .sub-description {
  display: flex;
  position: absolute;
  top: 500px;
  width: 367px;
  font-size: px;
  font-weight: 1;
  letter-spacing: 1px;
  opacity: 0;
  color: rgb(255, 255, 255);
  animation: slideUp 2s ease forwards;
  animation-delay: 0.7s;
}
